body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background: rgb(17, 24, 39);
}

.calculator {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 30px;
    width: 400px;
    height: 500px;
}

.display {
    background-color: white;
    min-height: 100px;
    font-size: 5.5em;
    border-radius: 8px;
    text-align: right;
}

.keys {
    display: flex;
    flex-wrap: wrap;
}

button {
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 8px;
    width: 100px;
    height: 80px;
}

button.number:hover {
    background-color: hsl(0, 0%, 60%);
}

button.number:active {
    background-color: hsl(0, 0%, 40%);
}

button.operator:hover {
    background-color: hsl(39, 100%, 60%)
}

button.operator:active {
    background-color: hsl(39, 100%, 40%)
}

.number {
    background-color: hsl(0, 0%, 50%);
}

.operator {
    background-color: hsl(39, 100%, 50%)
}



